---
import {CollectionEntry, getCollection} from "astro:content";
import PageHTML from "../../layouts/PageHTML.astro";
import FormattedDate from "../../components/FormattedDate.astro";

// Astro throws an error if I don't define the types here. Something about shorthand syntax. todo: fix this
type Blog = CollectionEntry<"blog">;
type Tutoriales = CollectionEntry<"tutoriales">;

export async function getStaticPaths() {
  const tutoriales = await getCollection("tutoriales");
  const blogs = await getCollection("blog");
  const fang = await getCollection("fang");

  const uniquePublishedTags = [
    ...new Set(
      [...tutoriales, ...blogs, ...fang].map((post) => post.data.tag).flat()
    ),
  ];

  const tagsAndRelated = uniquePublishedTags.map((tag) => ({
    tagName: tag.toLowerCase(),
    related: [
      ...tutoriales.filter((post) => post.data.tag.includes(tag)),
      ...blogs.filter((post) => post.data.tag.includes(tag)),
      ...fang.filter((post) => post.data.tag.includes(tag)),
    ],
  }));

  return tagsAndRelated.map((tag) => ({
    params: {tag: tag.tagName},
    props: {tag},
  }));
}

const {tag} = Astro.props;
---

<PageHTML
  title="Tutoriales"
  description="Tutoriales sobre desarrollo web"
  image="/placeholder-social.jpg"
  lang="es-MX"
  type="website"
  date="2021-01-01"
>
  <main
    class="my-10 flex w-full flex-col items-center justify-center px-5 text-center"
  >
    <h1 class="my-5 text-center text-3xl font-bold md:text-4xl">
      Contenido sobre{" "}{tag.tagName}
    </h1>
    {
      tag.related.map((post: Blog | Tutoriales) => {
        return (
          <a
            href={`/${post.data.type}/${post.slug}`}
            class="my-5 flex flex-col items-center justify-center "
          >
            <FormattedDate date={post.data.date} />
            <h3 class="text-xl font-bold">{post.data.title}</h3>
          </a>
        );
      })
    }

    <a
      href="/categorias"
      class="hover:pointer my-4 font-bold text-primario underline"
      >Ver todas las categorias</a
    >
  </main>
</PageHTML>
