---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/tailwind.css";

import GoogleTag from "./GoogleTag.astro";
//@ts-ignore
import {Schema} from "astro-seo-schema";

export interface Props {
  title: string;
  description: string;
  image?: string;
  date?: string;
  lang?: "es" | "en";
  type?: "article" | "website";
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  image = "/placeholder-social.jpg",
  lang = "es",
  type = "article",
  date = "2021-01-01",
} = Astro.props;

const mixedTitle = title + " - Lasfito";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="locale" content={lang} />
<meta http-equiv="Content-Language" content={lang} />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<link rel="icon" type="image/png" href="/favicon-32x32.png" />
<meta name="generator" content={Astro.generator} />
<!-- <link rel="stylesheet" href="./output.css" /> -->

<!-- Primary Meta Tags -->
<link rel="canonical" href={canonicalURL} />
<title>{mixedTitle}</title>
<meta name="title" content={mixedTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={mixedTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:locale" content="es_MX" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={mixedTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta property="twitter:site" content="@lasf1to" />

<!-- SCHEMA.ORG -->
<Schema
  item={{
    "@context": "https://schema.org",
    "@type": type === "article" ? "Article" : "WebSite",
    headline: title,
    description: description,
    image: image,
    author: {
      "@type": "Person",
      name: "Lasfito",
    },
    publisher: {
      "@type": "Person",
      name: "Lasfito",
    },
    datePublished: date,
  }}
/>

<GoogleTag />
