---
import type {CollectionEntry} from "astro:content";

import PageHTML from "./PageHTML.astro";
import {AcercaAutor} from "../components/AcercaAutor";
import {TagsInBlog} from "../components/TagsInBlog";
import {VideoGadget} from "../components/VideoGadget";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  date,
  updatedDate,
  enlaceyt,
  thumbnail,
  heroImage,
  tag,
} = Astro.props;
---

<PageHTML
  title={title}
  description={description}
  image="/placeholder-social.jpg"
  lang="es-MX"
  type="article"
  date={date}
>
  <section class="m-b mx-auto max-w-5xl flex-col">
    <div class="mt-20"></div>

    <h1 class="text-5xl text-texto-str">{title}</h1>

    <TagsInBlog tags={tag} />

    {enlaceyt ? <VideoGadget url={enlaceyt} /> : <img src={thumbnail} />}
  </section>

  <article
    id="blog"
    class="prose mx-auto flex max-w-[70ch] flex-col items-stretch justify-around px-4 text-left text-xl leading-[35px]"
  >
    <slot />
  </article>

  <AcercaAutor />
  <section class="mx-auto mt-20 max-w-5xl">
    <h3>Comentarios</h3>

    <div>añadir componente discordmentarios</div>
  </section>
  <div class="mt-20"></div>
</PageHTML>
