---
import type {CollectionEntry} from "astro:content";

import PageHTML from "./PageHTML.astro";
import {AcercaAutor} from "../components/AcercaAutor";
import {TagsInBlog} from "../components/TagsInBlog";
import {VideoGadget} from "../components/VideoGadget";
import {DiscordButton} from "../components/DiscordButton/";

type Props = CollectionEntry<"blog">["data"] & {
  id: string;
};

const {
  title,
  description,
  data,
  date,
  updatedDate,
  enlaceyt,
  thumbnail,
  heroImage,
  type,
  tag,
  id,
} = Astro.props;

const acercaAutor =
  "¡Hola! Me llamo Adrián, pero todos me conocen como Lasfito. Soy desarrollador front-end y escribo artículos y tutoriales sobre JavaScript, desarrollo web y diseño.";
---

<PageHTML
  title={title}
  description={description}
  image="/placeholder-social.jpg"
  lang="es-MX"
  type="article"
  date={date}
>
  <section class="mx-auto flex w-screen max-w-5xl flex-col">
    <div class="my-20"></div>

    <h1 class="text-5xl text-texto-str">{title}</h1>

    <TagsInBlog tags={tag} />

    {
      enlaceyt ? (
        <VideoGadget url={enlaceyt} />
      ) : (
        <img src={thumbnail} alt="Portada de artículo" />
      )
    }
  </section>

  <article
    class="prose prose-pink mx-auto flex max-w-[70ch] flex-col items-stretch justify-around px-4 text-left text-xl leading-[35px]"
  >
    <slot />
  </article>

  <AcercaAutor title="Acerca del autor" body={acercaAutor} />
  <section class="mx-auto mt-20 max-w-5xl">
    <h3 class="my-5 text-center text-3xl font-bold">¿Dudas o comentarios?</h3>

    <DiscordButton />

    <h3 class="my-10 text-center text-3xl font-bold">¿Alguna errata?</h3>
    <p class="text-center text-xl">
      Si encuentras alguna errata en este artículo, por favor, no dudes en
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="text-primario underline hover:text-acento"
        href={`https://github.com/lasfito/lasfi.to/tree/master/src/content/${type}/${id}`}
      >
        levantar un pull request</a
      >
      en el repositorio de GitHub.
    </p>
  </section>
  <div class="mt-20"></div>
</PageHTML>
