---
import BaseHead from "../components/BaseHead.astro";
import {Layout} from "../components/Layout";
import {SITE} from "../consts";

const {
  title,
  description,
  image = SITE.image,
  lang = "es-MX",
  type = "article",
  date,
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      date={date}
      type={type}
    />
  </head>

  <body class="w-full text-texto-sft fondo-pts">
    <script is:inline>
      let getThemePreference = () => {
        const localItem =
          typeof localStorage !== "undefined" && localStorage.getItem("theme");
        if (localItem) return localItem;
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "enabled"
          : "disabled";
      };
      const {darkMode} = JSON.parse(getThemePreference());
      function enableDarkMode() {
        document.body.classList.add("oscuro");
      }
      function disableDarkMode() {
        document.body.classList.remove("oscuro");
      }
      function setThemeOnNavigation() {
        if (darkMode === "enabled") {
          enableDarkMode();
        } else {
          disableDarkMode();
        }
      }
      setThemeOnNavigation();
    </script>
    <Layout client:idle>
      <slot />
    </Layout>
  </body>
</html>
